<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: 'CSE Motors'}); %>
</head>
<body>
  <%- include('../partials/header'); %>
  <%- include('../partials/navigation'); %>
  
  <main>
    <%- body %> <!-- This is where your page content will be injected -->
  </main>

  <%- include('../partials/footer'); %>
</body>
</html>
